In [79]:
from pyDOE import *
import pandas as pd
import numpy as np

In [80]:
limits = pd.read_csv("uncertain_variables.csv").set_index("name")

These limits were put randomly for the illustration put need to be updated. The "unknown" parameters in the transport model (i.e. elasticity of transport demand to cost increase) need to be added.

In [81]:
limits

,variable description,min,current hypothesis,max
name,,,,
ini_infiltration,initial inflitration (mm),0.5,1.0,2.0
drainage,drainage (mm/h),1,2.0,4.0
runoff,runoff (%),20,50.0,70.0
threshold,threshold for transport disruption (cm),20,40.0,50.0
elas_demand,elasticity of transport demand to cost,-2,-1.0,-0.5
elas_switch,elasticity for mode switch,-2,-1.0,-0.5
cost_multiplier,transport unit cost multiplier (applied to all...,0.5,1.0,1.5
traffic_growth,traffic growth factor,2,3.0,5.0
duration_multiplier,duration of incidents multiplier,0.5,1.0,2.0
frequency,incidents per year,based on the GCM results,NaN,NaN

I am dropping the parameters that enter only the economic model for now because the economic model can be run as many times as we want

In [82]:
limits = limits.drop(["frequency","cost_multiplier","traffic_growth","duration_multiplier"])
limits[['min','max']] = limits[['min','max']].astype(float)

## This is the sampling strategy if we can run as many combinations of scalgo/transport model as we want

In [83]:
numUncertainties = len(limits.index)

Here as an illustration I put 100 scenarios but the total number of scenarios depends on the number of uncertain parameters when "unknown" parameters are added

In [84]:
lhsample= lhs(numUncertainties,samples=100,criterion="corr")

new candidate solution found with max,abs corrcoef = 0.9935046015813777

In [85]:
scenarios=lhsample*np.diff(limits[['min','max']].values).T+limits['min'].values

In [86]:
scenarios=pd.DataFrame(scenarios,columns=limits.index)

In [87]:
scenarios

name,ini_infiltration,drainage,runoff,threshold,elas_demand,elas_switch
0,1.368122,2.272366,48.721537,30.377651,-1.466513,-1.978379
1,1.252842,2.918815,21.425899,20.683737,-1.770462,-0.947987
2,1.714735,2.943463,51.668651,29.481647,-0.929198,-0.922619
3,0.637020,2.197444,68.720713,42.918745,-1.397147,-1.383224
4,1.675366,2.966940,69.765050,48.033114,-0.691085,-1.640284
5,0.596660,3.701008,41.294017,36.159411,-1.935592,-0.601654
6,0.944112,1.469136,29.610831,23.146851,-1.066129,-1.839050
7,0.532221,1.397948,37.424800,28.544775,-1.376321,-1.342234
8,1.481422,3.073691,47.584494,29.188333,-1.447588,-1.856805
9,1.697898,2.620004,59.488993,21.934234,-1.420874,-1.191034
10,1.116432,2.563446,63.423255,34.745416,-1.544183,-1.261150
11,0.910722,1.799995,36.948737,26.219197,-0.979853,-1.480479
12,0.563130,1.380225,56.694171,36.902816,-1.272743,-0.814557
13,0.780968,1.433496,22.012897,38.108773,-1.995461,-0.997052
14,1.505126,2.790686,38.133933,38.733239,-1.490166,-1.752263
15,0.688931,3.988542,20.584213,35.180894,-1.691650,-1.528112
16,0.605814,1.135652,42.001154,40.484373,-1.054879,-1.159277
17,1.893196,1.642458,42.862743,34.389266,-0.737776,-1.135890
18,0.749905,1.992058,26.669975,34.550341,-1.740494,-0.877844
19,1.810160,1.770545,25.040489,27.320166,-0.560326,-1.040621
20,1.849166,3.500640,43.692682,20.354330,-1.227661,-1.416046
21,0.920339,1.914614,57.741408,30.001526,-1.967665,-0.559197
22,1.799448,1.749457,30.211459,39.769766,-1.873314,-0.581390
23,1.645331,3.612065,33.042141,43.446452,-0.879909,-0.749511
24,0.903771,1.078636,53.605096,26.692627,-0.798253,-1.729193
25,1.558272,1.684454,28.781698,28.932025,-1.126301,-0.721566
26,1.859457,3.774321,49.971150,32.793477,-1.078001,-1.926244
27,1.214902,2.435610,24.299758,38.959877,-0.702912,-1.021609
28,1.786195,1.090463,31.049634,27.625163,-0.583714,-0.524527
29,1.375927,3.746728,61.223635,20.060301,-1.197416,-1.362643
...,...,...,...,...,...,...
70,0.587810,2.687304,31.847226,37.238005,-1.900023,-1.276092
71,0.507353,3.422647,48.317273,39.499040,-1.802744,-0.902258
72,0.972108,2.996250,65.228841,32.599312,-0.762251,-0.855736
73,1.980412,1.871417,46.249726,26.300664,-0.521452,-0.796551
74,1.620412,1.816074,25.598819,25.961669,-1.241430,-1.285050
75,1.004532,2.487808,60.057537,22.267838,-1.840664,-1.818042
76,0.824505,3.645042,62.598213,21.128799,-1.756930,-1.876265
77,1.572474,3.398191,30.576442,33.971555,-1.177053,-0.917681
78,1.183208,1.334423,23.081018,48.971006,-1.823821,-1.631747
79,1.437644,2.820659,69.389886,49.640500,-0.860665,-0.986292
80,0.624469,3.106319,64.648456,48.424269,-1.980811,-1.098467
81,0.515195,3.279635,38.541664,22.625628,-0.783946,-1.996532
82,1.496060,1.612219,26.451490,22.822457,-1.172199,-1.028514
83,1.056243,1.496629,35.865546,49.161656,-0.980797,-1.105355
84,1.241790,3.197419,62.167160,33.567263,-1.350491,-1.082817
85,1.468093,2.374634,54.635503,41.875834,-1.553413,-1.243377
86,1.107738,2.529839,49.049048,43.281099,-1.218615,-0.608088
87,1.820727,1.326038,59.943840,45.678574,-1.326033,-1.766666
88,1.593058,2.235030,23.986935,33.102252,-1.637319,-1.889588
89,0.730114,2.208696,20.188343,36.715097,-1.032988,-0.623195
90,1.015264,1.708828,64.006205,27.161174,-1.007773,-1.175288
91,1.739082,2.440552,66.323730,47.792643,-0.636800,-0.756433
92,1.966378,2.166553,32.266805,25.369940,-1.283765,-1.591285
93,1.595275,3.911901,28.240069,27.848156,-1.488984,-0.869000
94,0.857764,1.570374,55.448201,24.566537,-1.808550,-1.965443
95,1.133062,2.322331,53.317556,42.724034,-0.846058,-1.455610
96,0.651382,3.143328,45.739816,44.467109,-1.642293,-1.434741
97,0.556186,3.682374,34.264823,35.346218,-1.622000,-1.595642
98,0.831428,2.034571,65.748582,45.234871,-1.362514,-1.474510
99,1.999299,3.532931,68.300639,33.320402,-0.593622,-1.398739

And then we run all these scenarios, for all rainfall events, using the flood model and the transport model.

## If the flood model cannot be run 100 times for each rainfall event and storm surge (i.e. 11x100) we can adopt a phased strategy

### we first limit the exploration of uncertainty to scalgo

In [52]:
limits_flood_model = limits.loc[["ini_infiltration","drainage","runoff"],:]

In [53]:
limits_flood_model

                       variable description   min  current hypothesis   max
name
ini_infiltration  initial inflitration (mm)   0.5                 1.0   2.0
drainage                    drainage (mm/h)   1.0                 2.0   4.0
runoff                           runoff (%)  20.0                50.0  70.0

In [92]:
scenarios_flood=lhs(len(limits_flood_model.index),samples=10,criterion="corr")*np.diff(limits_flood_model[['min','max']].values).T+limits_flood_model['min'].values
scenarios_flood=pd.DataFrame(scenarios_flood,columns=limits_flood_model.index)

new candidate solution found with max,abs corrcoef = 0.9989926870767253

In [93]:
scenarios_flood

name  ini_infiltration  drainage     runoff
0             1.206559  2.364415  47.882976
1             1.844777  1.571451  57.196223
2             0.950592  2.882657  33.509120
3             1.683215  1.063521  29.898387
4             1.315946  3.887733  21.196971
5             0.947863  1.694451  64.145972
6             1.453015  2.184442  38.533818
7             0.707165  3.615698  44.005450
8             0.500659  3.304412  69.588761
9             1.874990  2.606873  50.344500

We can also select a subset of the rainfall events (i.e. 2, 6, 10, 14, 20mm/hr), so that we run scalgo only 50 times.

In [96]:
all_simulations_scalgo = pd.DataFrame()
for event in [2, 6, 10, 14, 20]:
    subset = scenarios_flood
    subset["rainfall_event"] = event
    all_simulations_scalgo = all_simulations_scalgo.append(subset)

In [98]:
all_simulations_scalgo.to_csv("all_simulations_scalgo.csv",index=False)

### We then analyze the scalgo results in terms of (i) water depth on critical infrastructure and (ii) flood extend for each of the rainfall events, and we identify the uncertain variables that significantly change the results (if there are significant changes)

In [99]:
outputs_scalgo = pd.read_excel("expected_results_scalgo.xlsx")

here we can do some clustering of the results and select only a few representative scenarios. I select them randomly here for the purpose of illustrating the concept but we need to give some thought to the selection especially on the rainfall events

In [125]:
scalgo_representative_scenarios = outputs_scalgo[["ini_infiltration","drainage","runoff","rainfall_event","water_depth_critical_infra1"]].sample(5)

### We select a few representative scenarios from the set above and from the set of rainfall events, and we combine them with a sample of scenarios from the transport model

In [88]:
limits_transport_model = limits.loc[["threshold","elas_demand","elas_switch"],:]
scenarios_transport=lhs(len(limits_transport_model.index),samples=5,criterion="corr")*np.diff(limits_transport_model[['min','max']].values).T+limits_transport_model['min'].values
scenarios_transport=pd.DataFrame(scenarios_transport,columns=limits_transport_model.index)

new candidate solution found with max,abs corrcoef = 0.9942313483510834
new candidate solution found with max,abs corrcoef = 0.992963401519748

In [89]:
scenarios_transport

name  threshold  elas_demand  elas_switch
0     24.928514    -1.650624    -1.092844
1     27.910790    -1.940239    -1.568047
2     37.900446    -1.216311    -1.163950
3     43.137063    -0.878914    -0.696889
4     46.215596    -0.720969    -1.738271

I combine the uncertainty on transport with the scalgo results/hypotheses

In [126]:
full_transport_runs = pd.DataFrame()
for index, row in scalgo_representative_scenarios.iterrows():
    subset = pd.concat([scenarios_transport,pd.DataFrame(len(scenarios_transport)*[row.values],columns=row.index)],axis=1)
    full_transport_runs = full_transport_runs.append(subset)

In [127]:
full_transport_runs

,threshold,elas_demand,elas_switch,ini_infiltration,drainage,runoff,rainfall_event,water_depth_critical_infra1
0,24.928514,-1.650624,-1.092844,1.683215,1.063521,29.898387,20.0,NaN
1,27.910790,-1.940239,-1.568047,1.683215,1.063521,29.898387,20.0,NaN
2,37.900446,-1.216311,-1.163950,1.683215,1.063521,29.898387,20.0,NaN
3,43.137063,-0.878914,-0.696889,1.683215,1.063521,29.898387,20.0,NaN
4,46.215596,-0.720969,-1.738271,1.683215,1.063521,29.898387,20.0,NaN
0,24.928514,-1.650624,-1.092844,1.844777,1.571451,57.196223,14.0,NaN
1,27.910790,-1.940239,-1.568047,1.844777,1.571451,57.196223,14.0,NaN
2,37.900446,-1.216311,-1.163950,1.844777,1.571451,57.196223,14.0,NaN
3,43.137063,-0.878914,-0.696889,1.844777,1.571451,57.196223,14.0,NaN
4,46.215596,-0.720969,-1.738271,1.844777,1.571451,57.196223,14.0,NaN
0,24.928514,-1.650624,-1.092844,0.500659,3.304412,69.588761,10.0,NaN
1,27.910790,-1.940239,-1.568047,0.500659,3.304412,69.588761,10.0,NaN
2,37.900446,-1.216311,-1.163950,0.500659,3.304412,69.588761,10.0,NaN
3,43.137063,-0.878914,-0.696889,0.500659,3.304412,69.588761,10.0,NaN
4,46.215596,-0.720969,-1.738271,0.500659,3.304412,69.588761,10.0,NaN
0,24.928514,-1.650624,-1.092844,0.707165,3.615698,44.005450,6.0,NaN
1,27.910790,-1.940239,-1.568047,0.707165,3.615698,44.005450,6.0,NaN
2,37.900446,-1.216311,-1.163950,0.707165,3.615698,44.005450,6.0,NaN
3,43.137063,-0.878914,-0.696889,0.707165,3.615698,44.005450,6.0,NaN
4,46.215596,-0.720969,-1.738271,0.707165,3.615698,44.005450,6.0,NaN
0,24.928514,-1.650624,-1.092844,1.874990,2.606873,50.344500,10.0,NaN
1,27.910790,-1.940239,-1.568047,1.874990,2.606873,50.344500,10.0,NaN
2,37.900446,-1.216311,-1.163950,1.874990,2.606873,50.344500,10.0,NaN
3,43.137063,-0.878914,-0.696889,1.874990,2.606873,50.344500,10.0,NaN
4,46.215596,-0.720969,-1.738271,1.874990,2.606873,50.344500,10.0,NaN

In [120]:
full_transport_runs.to_csv("all_simulations_visum.csv",index=False)

### We run visum for all these scenarios and then we can analyze the results and do the economic analysis

In [128]:
outputs_visum = pd.read_excel("expected_results_visum.xlsx")

In [129]:
outputs_visum

,threshold,elas_demand,elas_switch,ini_infiltration,drainage,runoff,rainfall_event,km of roads flooded,km of brt lane flooded,Hindered passenger trips,Hindered truck trips,BRT travellength km/day,BRT traveltime hours/day,Other passenger travellength km/day,Other passenger traveltime hours/day,Truck travellength km/day,Truck traveltime hours/day
0,24.928514,-1.650624,-1.092844,1.206559,2.364415,47.882976,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,27.910790,-1.940239,-1.568047,1.206559,2.364415,47.882976,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,37.900446,-1.216311,-1.163950,1.206559,2.364415,47.882976,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,43.137063,-0.878914,-0.696889,1.206559,2.364415,47.882976,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,46.215596,-0.720969,-1.738271,1.206559,2.364415,47.882976,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,24.928514,-1.650624,-1.092844,1.683215,1.063521,29.898387,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,27.910790,-1.940239,-1.568047,1.683215,1.063521,29.898387,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,37.900446,-1.216311,-1.163950,1.683215,1.063521,29.898387,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,43.137063,-0.878914,-0.696889,1.683215,1.063521,29.898387,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,46.215596,-0.720969,-1.738271,1.683215,1.063521,29.898387,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,24.928514,-1.650624,-1.092844,0.950592,2.882657,33.509120,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,27.910790,-1.940239,-1.568047,0.950592,2.882657,33.509120,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,37.900446,-1.216311,-1.163950,0.950592,2.882657,33.509120,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,43.137063,-0.878914,-0.696889,0.950592,2.882657,33.509120,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,46.215596,-0.720969,-1.738271,0.950592,2.882657,33.509120,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,24.928514,-1.650624,-1.092844,0.947863,1.694451,64.145972,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,27.910790,-1.940239,-1.568047,0.947863,1.694451,64.145972,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,37.900446,-1.216311,-1.163950,0.947863,1.694451,64.145972,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,43.137063,-0.878914,-0.696889,0.947863,1.694451,64.145972,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,46.215596,-0.720969,-1.738271,0.947863,1.694451,64.145972,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,24.928514,-1.650624,-1.092844,0.947863,1.694451,64.145972,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,27.910790,-1.940239,-1.568047,0.947863,1.694451,64.145972,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,37.900446,-1.216311,-1.163950,0.947863,1.694451,64.145972,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,43.137063,-0.878914,-0.696889,0.947863,1.694451,64.145972,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,46.215596,-0.720969,-1.738271,0.947863,1.694451,64.145972,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Here of course we'll need to add the uncertainty on the frequency and duration of flood events, traffic growth, (and on the unit cost of transport ?) in the economic analysis. Traffic growth is not very interesting because if I understand correctly it does not have any effect on congestion in the model.

#### The economic model can be easily written in a small code to be able to run it systematical